@font-face {
  font-family: "Futur";
  src: url("_assets/fonts/futura light bt.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  color: #00002f;
}

html{
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Futur" !important;
  background-image: url("_assets/images/bg-web.webp"); 
  background-repeat: reapet-y;
}

  /* Estilizando o scroll */
  ::-webkit-scrollbar {
    width: 8px; /* Largura do scroll */
  }

  /* Estilizando a alça (thumb) do scroll */
  ::-webkit-scrollbar-thumb {
    background-color: #040434; /* Cor da alça do scroll */
  }

  /* Estilizando o fundo (track) do scroll */
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Cor do fundo do scroll */
  }


img {
  width: 6rem;
}

header {
  width: 100vw;
  height: 8rem;
}

.navbar {
  display: flex;
  align-items: center;
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  transition: background-color 0.3s ease-in-out;
  padding: 1%;
  z-index: 1;
}


.navbar-scrolled {
  background-color: #ffffff; 
}

ul {
  list-style: none;
}

.links {
  display: flex;
  flex-direction: row;

  text-decoration-line: none;
  text-transform: uppercase;

  margin-right: auto;
  margin-left: 2rem;
}

.links a {
  font-size: 18px;
  text-transformation: none;
  text-decoration: none;

  color: #00002f;

  margin-left: 1rem;
}

.links a:hover {
  color: ##bebef2;
  text-decoration: underline;
}

.social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  width: 132px;

  margin-right: 5rem;
  justify-content: center;
}

.social img {
  width: 2rem;
  margin: 0.03rem;
}

.social a {
  text-decoration: none;
}

main {
  justify-content: center;
}

video {
  width: 100vw;
}

.portfolio {
  display: flex;
  justify-content: center;
  color: #00002f;
  height: 100vh;
  align-items: center;
}

.portfolio .read {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 5rem;
}

.portfolio .underline {
  border-bottom: 11px solid #000032;
  width: 100vw;
  z-index: -1;
}

.portfolio .read h1 {
  font-size: 78px;
}

.portfolio .read h2 {
  font-size: 24px;
  text-align: center;
  margin-top: 24px;
}

.portfolio .img {
  position: relative;
}

.portfolio .img img {
  width: 210px;
  z-index: auto;
  filter: brightness(75%);
}

.portfolio .img .title {
  font-size: 22px;
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.portfolio a {
  color: white;
  margin: 0;
  padding: 0;

  text-decoration: none;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-top: 11%;
}

.about-me h1 {
  font-size: 78px;
}

.about-me h2 {
  font-size: 23px;
  margin-top: 1rem;
  width: 63.75rem;
  text-align: center;
}

.about-me .head {
  display: flex;
  align-items: center;
}

.about-me .head .underline-one {
  position: absolute;
  left: 0px;
  border-bottom: 11px solid #000032;
  width: 39vw;
}

.about-me .head .underline-sec {
  position: absolute;
  right: 0px;
  border-bottom: 11px solid #000032;
  width: 39vw;
}

.avatars {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: auto;
  margin-top: 5%;

}

.avatar {
  width: 240px;
  height: 240px;
  border: 6px solid #000032;
  margin: 1vw;
}

.avatar .portrait {
  display: flex;
  flex-direction: column;
  margin: 0.3rem;
  align-items: center;
}

.avatar .portrait .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 2rem;
}

.avatar .portrait img {
  width: 14.375rem;
}

.avatar .portrait a {
  text-decoration: none;
  margin-left: 0.2rem;
}

.avatar .portrait .content img {
  width: 22px;
}

footer {
  background-color: #000032;
  width: 100vw;
  height: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 360px) and (max-width: 896px) {
  * {
  }

  nav img {
    margin: 40vw;
    width: 15vw;
  }

  header {
height: 20vw;

  }
  .navbar{
    height: 20vw;
  }

  nav .links {
    visibility: hidden;
  }

  .present {
    display: none;
  }

  video {
    visibility: hidden;
  }

  /* nav, */
  /* .links, */
  .social {
    visibility: hidden;
  }

  .links {
    margin-left: 2rem;
  }

  main {
    max-width: 100%;

    display: flex;
    flex-direction: column;
  }

  .avatars {
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: 32px !important;
  }

  h2 {
    font-size: 18px !important;
  }

  .portfolio .underline,
  .about-me .head .underline-one,
  .about-me .head .underline-sec {
    visibility: hidden;
  }

  main {
    max-width: 100%;
  }

  main,
  .portfolio,
  .about-me {
    display: flex;
    flex-direction: column;
  }

  .portfolio,
  .about-me {
    height: 100%;
  }

  .portfolio .read {
    width: 320px;
    margin: 2rem;
  }

  .about-me {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .about-me h2 {
    width: 320px;
  }
  
  .about-me .avatars .avatar {
    margin-top: 1rem;
  }

  footer {
    visibility: hidden;
  }
}

@media only screen and (min-width: 650px) and (max-width: 930px) {
  .about-me .head .underline-one,
  .about-me .head .underline-sec {
    width: 22vw;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

.navbar .portfolio{
  width: 100vw;
}

footer{
height: 20vw;  
}

}

@media only screen and (min-width: 720px) and (max-width: 1280px) {
.logo {
  width: 5vw;
}

.navbar{
  height: 4.5vw;
}

header {
  height: 85px;
}

}

@media only screen and (min-width: 768px) and (max-width: 1366px) {

  footer{
    height: 15vw;  
    }
    

}

@media only screen and (min-width: 900px) and (max-width: 1440px) {

footer {
  height: 15vw;
}


}

@media only screen and (min-width: 864px) and (max-width: 1536px) {

  footer {
    height: 15vw;
  }

}

@media only screen and (min-width: 710px) and (max-width: 1600px) {
  .links {
    margin-left: 0.2rem;
  }

  .about-me .head .underline-one,
  .about-me .head .underline-sec {
    width: 28vw;
  }
}

@media only screen and (min-width: 1050px) and (max-width: 1680px) {

  footer{
height: 15vw;
  }

}

@media only screen and (min-width: 1440px) and (2560px) {  
}

