@font-face {
  font-family: "Futur";
  src: url("_assets/fonts/futura light bt.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;

  color: #00002f;
}

body {
  display: flex;
  flex-direction: column;

  font-family: "Futur" !important;

  background-image: url("_assets/images/bg-web.png");
  background-repeat: reapet-y;
}

img {
  width: 6rem;
}

header {
  width: 100vw;
  height: 8rem;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  transition: background-color 0.3s ease-in-out;
  padding: 1%;
  z-index: 1;
}

.navbar-scrolled {
  background-color: #ffffff; /* Cor de fundo quando a navbar é rolada */
}

ul {
  list-style: none;
}

.links {
  display: flex;
  flex-direction: row;

  text-decoration-line: none;
  text-transform: uppercase;

  margin-right: auto;
  margin-left: 2rem;
}

.links a {
  font-size: 18px;
  text-transformation: none;
  text-decoration: none;

  color: #00002f;

  margin-left: 1rem;
}

.links a:hover {
  color: ##bebef2;
  text-decoration: underline;
}

.social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  width: 132px;

  margin-right: 5rem;
  justify-content: center;
}

.social img {
  width: 2rem;
  margin: 0.03rem;
}

.social a {
  text-decoration: none;
}

main {
  justify-content: center;
}

video {
  width: 100vw;
}

.portfolio {
  display: flex;
  justify-content: center;
  color: #00002f;
  height: 100vh;
  align-items: center;
}

.portfolio .read {
  width: 740px;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 5rem;
}

.portfolio .underline {
  border-bottom: 11px solid #000032;
  width: 100vw;
  z-index: -1;
}

.portfolio .read h1 {
  font-size: 78px;
}

.portfolio .read h2 {
  font-size: 24px;
  text-align: center;
  margin-top: 24px;
}

.portfolio .img {
  position: relative;
}

.portfolio .img img {
  width: 210px;
  z-index: auto;
  filter: brightness(75%);
}

.portfolio .img .title {
  font-size: 22px;
  position: absolute;
  bottom: 50px;

  left: 0;
  right: 0;

  width: 100px;

  margin-left: auto;
  margin-right: auto;
}

.portfolio a {
  color: white;
  margin: 0;
  padding: 0;

  text-decoration: none;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.about-me h1 {
  font-size: 78px;
}

.about-me h2 {
  font-size: 23px;
  margin-top: 1rem;
  width: 63.75rem;
  text-align: center;
}

.about-me .head {
  display: flex;
  align-items: center;
}

.about-me .head .underline-one {
  position: absolute;
  left: 0px;
  border-bottom: 11px solid #000032;
  width: 39vw;
}

.about-me .head .underline-sec {
  position: absolute;
  right: 0px;
  border-bottom: 11px solid #000032;
  width: 39vw;
}

.avatars {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  height: auto;

  width: 62.4375rem;
}

.avatar {
  width: 240px;
  height: 240px;
  border: 6px solid #000032;
  margin: 4rem 4rem 0rem 0;
}

.avatar .portrait {
  display: flex;
  flex-direction: column;
  margin: 0.3rem;
  align-items: center;
}

.avatar .portrait .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 2rem;
}

.avatar .portrait img {
  width: 14.375rem;
}

.avatar .portrait a {
  text-decoration: none;
  margin-left: 0.2rem;
}

.avatar .portrait .content img {
  width: 22px;
}

footer {
  background-color: #000032;
  width: 100vw;
  height: 19rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

footer img {
  margin-left: 5rem;
}

@media only screen and (min-width: 710px) and (max-width: 1600px) {
  .links {
    margin-left: 0.2rem;
  }

  .about-me .head .underline-one,
  .about-me .head .underline-sec {
    width: 28vw;
  }
}

@media only screen and (min-width: 650px) and (max-width: 930px) {
  .about-me .head .underline-one,
  .about-me .head .underline-sec {
    width: 22vw;
  }
}

@media only screen and (max-width: 640px) {
  * {
    position: static;
  }

  nav img {
    width: 50rem;
    margin-left: 5rem;
  }

  nav .links {
    visibility: hidden;
  }

  video {
    visibility: hidden;
  }

  /* nav, */
  /* .links, */
  .social {
    visibility: hidden;
  }

  .links {
    margin-left: 2rem;
  }

  main {
    max-width: 100%;

    display: flex;
    flex-direction: column;
  }

  .avatars {
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: 32px !important;
  }

  h2 {
    font-size: 18px !important;
  }

  .portfolio .underline,
  .about-me .head .underline-one,
  .about-me .head .underline-sec {
    visibility: hidden;
  }

  main {
    max-width: 100%;
  }

  main,
  .portfolio,
  .about-me {
    display: flex;
    flex-direction: column;
  }

  .portfolio,
  .about-me {
    height: 100%;
  }

  .portfolio .read {
    width: 320px;
    margin: 2rem;
  }

  .about-me {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .about-me h2 {
    width: 320px;
  }

  .about-me .avatars {
    width: 250px;
    display: flex;
    flex-direction: column;
  }

  .about-me .avatars .avatar {
    margin-top: 1rem;
  }

  footer {
    visibility: hidden;
  }
}
